@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');


:root {
  --foreground-rgb: fff;
  --background-start-rgb: fff;
  --background-end-rgb: fff;
  --font-primary: 'Helvetica Neue', Arial, sans-serif;
  --color-primary: #1d1d1f; /* Un grigio molto scuro per il testo principale */
  --color-secondary: #3a3a3c; /* Grigio secondario per un contrasto minore */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-start-rgb: fff;
    --background-end-rgb: fff;
  }
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

/* Stili per le intestazioni */
.h1 {
  font-size: 3rem; /* 48px */
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.h2 {
  font-size: 2.25rem; /* 36px */
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.h3 {
  font-size: 1.75rem; /* 28px */
  font-weight: 600;
  line-height: 1.35;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  line-height: 1.4;
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
}

.h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 1.45;
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
}

.h6 {
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
}

/* Stile per paragrafi */
.paragraph {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

.icon {
  width: 64px;
  height: 64px;
}

.contact {
  width: 200px;
  height: 100px;
}