/* components/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #282c34; /* White text */
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between tabs */
  }
  
  .navLinks li {
    cursor: pointer;
  }
  
  .navLinks a {
    color: #282c34; /* White text */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
  }
  
  .navLinks a:hover {
    text-decoration: underline; /* Underline on hover */
  }